[Desktop Entry]
Name=Todoist
Comment=A fast native Todoist client
Exec=/home/surya/.local/bin/todoistclient
Icon=todoist
Type=Application
Categories=Office;ProjectManagement;Qt;KDE;
Terminal=false
StartupNotify=true
